@import "tailwindcss";

:root{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .button1{
  background-color: #ffffff;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin: 1rem;
  max-width: 400px;
  font-family: inherit;
}
.bg-green{
  background-color:green;
}
.bg-red{
  background-color: red;
}
.radius-1{
  border-radius: 1rem;
}
.text-color-white{
  color:white;
} */